{{template "base" .}}

{{define "content"}}
<style>
    .about-img-small {
        max-width: 30%;
        float: right;
        margin-left: 1em;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-3">About Fort Szczyrk</h1>
            <hr>
            <p>
                <img src="/static/images/outside.png" alt="" class="about-img-small">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quasi explicabo soluta numquam corrupti alias sunt, vitae amet incidunt. Voluptatum magnam voluptatibus corporis magni sapiente pariatur facere laudantium velit ipsum.

            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, dignissimos vel? Distinctio nemo delectus corrupti perferendis laborum molestias nam? Perspiciatis, rem incidunt. Eos culpa quas fuga dolorem veritatis animi maiores?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora voluptas, eaque veritatis pariatur ipsam sapiente incidunt? Velit, beatae! Corrupti, ullam tenetur! Nisi natus cumque similique nihil animi mollitia illum eveniet?
                Accusantium repudiandae saepe quam aliquid sequi corporis architecto impedit ducimus voluptates corrupti sunt consectetur ad, sit repellendus odit sint! Cumque incidunt est architecto adipisci consequatur laudantium mollitia, eius veniam sequi!
                Est, tempora magni deleniti maxime facilis unde sunt quae dolore magnam possimus vero fuga ad! Possimus alias non deleniti a explicabo, nesciunt nostrum praesentium repellendus qui illo tempore quis est?
                Esse velit ipsa ducimus perferendis ut nemo pariatur tenetur nesciunt doloremque eaque repellendus nulla itaque hic rerum, corporis dolore? Iste quos quae error, nostrum deserunt voluptas eligendi soluta aliquid facilis.
                Fuga numquam beatae laboriosam accusantium suscipit enim quos. Ipsa, aspernatur! Quisquam inventore doloremque accusantium! Ducimus, animi. Sint, fuga, inventore esse voluptate excepturi laborum, quisquam iure repellat adipisci distinctio quia magnam?

            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore explicabo, autem debitis dolor expedita perspiciatis velit, inventore reprehenderit perferendis pariatur, modi blanditiis quas veritatis. Dolore sit repudiandae necessitatibus accusamus similique.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur aliquam voluptatum at, in eos dolor quae reprehenderit aliquid culpa repellendus similique quas, ratione repudiandae esse, dicta quo praesentium tempore nemo.
                Hic rerum ducimus alias cum dignissimos repellendus quod blanditiis saepe, amet maxime accusantium dicta fugiat eius quas iusto quaerat nam, commodi minus, molestiae eaque exercitationem. Natus dolores enim maxime perspiciatis?
                Sit facere esse beatae impedit, nemo quam temporibus excepturi eaque soluta necessitatibus eligendi iure tempora nisi, qui similique. Iure debitis est molestias animi dolorum voluptates fugit autem accusamus cupiditate blanditiis.
                Similique officia excepturi nostrum doloremque qui itaque fugit ratione porro enim, magnam voluptatem quam mollitia aut in omnis aliquid harum ipsa laborum maiores impedit officiis! Minus tenetur recusandae quibusdam provident.
                Consectetur minus obcaecati libero ipsam exercitationem excepturi nihil voluptate ut inventore consequuntur eum blanditiis iure recusandae, adipisci, explicabo unde velit eligendi hic. Provident error voluptatem velit suscipit deleniti et dolore!
                Dolores adipisci quos culpa tempora quam enim voluptas laudantium fugiat velit nam. Nesciunt, voluptatibus labore! Sint vel et id tempore obcaecati, quod vitae hic repudiandae, nobis quis sequi facilis pariatur.
            </p>

        </div>
    </div>
</div>
{{end}}